@import 'variables';
@import '~bootstrap/scss/bootstrap';

//Root And Body
@font-face {
  src: url("../font/app.ttf");
  font-family: 'app-main';
}


*{
  direction: rtl;
  text-align: right;
  font-family: app-main, serif;
  font-size: 14px;
}

//Custom Classes
.tiny-margin-b{
  margin-bottom: 2px;
}

.center-align{
  text-align: center;
}

.loading{
  padding: 10px;
}

.failed{
  padding: 10px;
}

body {
  margin: 0;
  background-color: $body-bg;
}

//Sidebar And Content

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: $sideMenuBg;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  background-color: $sideInActiveBg;
  color: $sideInActiveC;
  padding: 10px;
  text-decoration: none;
  transition: .4s;
}

.sidebar a.active {
  background-color: $sideActiveBg;
  color: $sideActiveC;
}

.sidebar a:hover:not(.active) {
  background-color: $sideHoverBg;
  color: $sideHoverC;
}

div.content {
  margin-right: 300px;
  padding: 1px 16px;
}

.sidebar .menu-title {
    display: block;
    color: $sideTitleC;
    padding: 12px;
}

//Customer Form
.customer-form-numbers {
    margin-top:10px;
}
