@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

//Root And Body
@font-face {
  src: url("../font/app.ttf");
  font-family: 'app-main';
}


*{
  direction: rtl;
  text-align: right;
  font-family: app-main, serif;
  font-size: 14px;
}

body {
    margin: 0;
    background-color: $body-bg;
}

//Custom Classes
.tiny-margin-b{
  margin-bottom: 10px;
}

.tiny-margin-t{
  margin-top: 10px;
}

.tiny-margin{
    margin: 10px;
}

textarea {
    resize: none;
}

.pointer-cursor{
    cursor: pointer;
}

.center-align{
  text-align: center;
}

.loading{
  padding-top: 23vh;
}

.failed{
  padding: 10px;
}

.not-found{
  padding: 10px;
}

#i-service-ws_address,
#i-service-ws_username,
#i-service-ws_password,
#inputUsername,
#inputPassword {
    text-align: left;
    direction: ltr;
}

.menu-icon{
    width: 20px;
}
//Sidebar And Content

.sidebar {
  margin: 0;
  padding: 0;
  //width: 300px;
  background-color: $sideMenuBg;
  //position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  background-color: $sideInActiveBg;
  color: $sideInActiveC;
  padding: 10px;
  text-decoration: none;
  transition: .4s;
}

.sidebar a.active {
  background-color: $sideActiveBg;
  color: $sideActiveC;
}

.sidebar a:hover:not(.active) {
  background-color: $sideHoverBg;
  color: $sideHoverC;
}

div.content {
  padding: 1px 16px;
}

.sidebar .menu-title {
    display: block;
    color: $sideTitleC;
    padding: 12px;
}

//Customer Form
.customer-form-numbers {
    margin-top:10px;
}

.dashboard-box{
    height: 35vh;
    overflow: auto;
    padding: 10px;
    margin: 10px;
    border: solid $sideInActiveBg 1px;
    border-radius: 5px;
}

.dashboard-col{
    margin: 0;
    padding-right: 2px;
}

//Login
.login{
    width: 100%;
    height: 100vh;
    background: url("../image/background.jpg") no-repeat center center;
}
.login-box{
    padding-top: 23vh;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
//Mobile View

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: -300px;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}

#sidebar.active {
    margin-right: 0;
    transition: all 0.3s ease-in-out;
}

#content.active{
    margin-right: 300px;
    transition: all 0.3s ease-in-out;
}
#content{
    margin-right: 0;
    transition: all 0.3s ease-in-out;
}

.overlay{
    transition: all 0.3s ease-in-out;
}

.overlay.active{
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    #sidebar.active {
        min-width: 300px;
        max-width: 300px;
        min-height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        margin-right: 0;
        transition: all 0.3s ease-in-out;
    }
    #sidebar {
        margin-right: -300px;
        transition: all 0.3s ease-in-out;
    }
    #content {
        margin-right: 0;
        transition: all 0.3s ease-in-out;
    }
    #content.active {
        margin-right: 0;
        transition: all 0.3s ease-in-out;
    }
    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}

.menu-slide-btn{
    margin-top: 14px;
    margin-bottom: 14px;
    margin-right: 30px;
}
